<!doctype html>
<html ng-app="rpsApp">
  <head>
    <title>RPS | Rock Paper Scissors Tournament</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/main.css">
  </head>
  <body>

    <header id="header">
     <nav class="top-nav">
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="#/players/new">register</a></li>
        <li><a href="#/players/login">login</a></li>
        <li><a href="#/players">players</a></li>
        <li><a href="#/tournaments">tournaments</a>
          <ul> 
            <li><a href="#/tournaments/new">start tournament</a></li>
          </ul>
        </li>
        <li><a href="#/games">games</a></li>
      </ul>
     </nav>
    </header>

    <%= yield %>

    <footer id="footer">
      <div class="container">
      
      </div>
    </footer>


    

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-sanitize.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-resource.js"></script>

    <script src="./js/rps.js"></script>
    <script src="./js/controllers.js"></script>
    <script src="./js/services.js"></script>
    <script src="./js/main.js"></script>

  </body>
</html>