$dark: #555152;
$light: #EFFFCD; 

.user-input {
  span {
    font-size: 22px;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
    display: inline-block;
    background: $dark;
    color: $light;
    transition: background-color 0.5s ease;
    &:hover {
      cursor: pointer;
      background: $light;
      color: $dark;
    }
  }
}

.game-commands {
  margin-bottom: 30px;
}

#header {
  padding: 20px;
  nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        font-size: 16px;
        margin-right: 20px;
        a {
          text-decoration: none;
          &:hover {
            text-decoration: none;
          }
        }
        ul { // second level
          display: none;
          li {

          }
        }
      }
    }
  }
}

.container {
  margin-bottom: 20px;
}