<div class="form-group">
  <label>Tournament Name</label>
  <input class="form-control" type="text" ng-model="tournament.name" placeholder="enter name of tournament" />
</div>
<div class="form-group">
  <label>Player Names</label>
  <input class="form-control" type="text" ng-model="tournament.players[0]" placeholder="enter username" />
</div>
<div class="form-group">
  <input class="form-control" type="text" ng-model="tournament.players[1]" placeholder="enter username 1" />
</div>
<div class="form-group">
  <input class="form-control" type="text" ng-model="tournament.players[2]" placeholder="enter username 2" />
</div>
<div class="form-group">
  <input class="form-control" type="text" ng-model="tournament.players[3]" placeholder="enter username 3" />
</div>
<div class="form-group">
  <input class="form-control" type="text" ng-model="tournament.players[4]" placeholder="enter username 4" />
</div>
<div class="form-group">
  <input class="form-control" type="text" ng-model="tournament.players[5]" placeholder="enter username 5" />
</div>
<div class="form-group">
  <input class="form-control" type="text" ng-model="tournament.players[6]" placeholder="enter username 6" />
</div>
<div class="form-group">
  <input class="form-control" type="text" ng-model="tournament.players[7]" placeholder="enter username 7" />
</div>
